body{
  font-family: "Segoe UI", sans-serif;
  background:#f3f4f8;
  margin:0;
  padding:40px;
}

h1{
  text-align:center;
  margin-bottom:40px;
  font-weight:600;
}

.grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:30px;
  max-width:1100px;
  margin:auto;
}

.card{
  background:white;
  border-radius:14px;
  box-shadow:0 8px 25px rgba(0,0,0,0.07);
  padding:20px;
  position:relative;
}

.ramo-titulo{
  font-size:18px;
  font-weight:600;
  border:none;
  background:transparent;
  margin-bottom:15px;
  width:100%;
}

.ramo-titulo:focus{
  outline:none;
  border-bottom:2px solid #c40000;
}

table{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
  table-layout:auto;
}

th{
  background:#c40000;
  color:white;
  padding:6px 8px;
  white-space:normal;
  word-break:break-word;
}

td{
  padding:6px 8px;
  border-bottom:1px solid #eee;
}

.eval-nombre{
  width:120px;
  border:none;
  background:transparent;
}

.eval-nombre:focus{
  outline:none;
  border-bottom:1px solid #c40000;
}

.porcentaje,
.nota{
  width:60px;
  padding:4px;
  border:1px solid #ccc;
  border-radius:6px;
  text-align:center;
}

button{
  margin-top:15px;
  padding:6px 12px;
  border:none;
  background:#c40000;
  color:white;
  border-radius:6px;
  cursor:pointer;
}

button:hover{
  background:#9e0000;
}

.final-box{
  position:absolute;
  top:20px;
  right:20px;
  font-size:26px;
  font-weight:bold;
  color:#c40000;
}
