body{
  font-family: "Segoe UI", sans-serif;
  background:#f3f4f8;
  margin:0;
  padding:40px;
}

h1{
  text-align:center;
  margin-bottom:40px;
  font-weight:600;
}

.grid{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:40px;
  max-width:1300px;
  margin:auto;
}

.card{
  background:white;
  border-radius:16px;
  box-shadow:0 10px 30px rgba(0,0,0,0.08);
  display:flex;
  overflow:hidden;
  min-height:280px;
}

.card-content{
  padding:20px;
  flex:1;
}

.ramo-titulo{
  font-size:18px;
  font-weight:600;
  border:none;
  background:transparent;
  margin-bottom:15px;
  width:100%;
}

.ramo-titulo:focus{
  outline:none;
  border-bottom:2px solid #c40000;
}

table{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}

th{
  background:#c40000;
  color:white;
  padding:8px;
  font-weight:500;
}

td{
  padding:8px;
  border-bottom:1px solid #eee;
}

.eval-nombre{
  width:50px;
  border:none;
  background:transparent;
  font-size:14px;
}

.eval-nombre:focus{
  outline:none;
  border-bottom:1px solid #c40000;
}

.porcentaje,
.nota{
  width:60px;
  padding:4px;
  border:1px solid #ccc;
  border-radius:6px;
  text-align:center;
}

.porcentaje:focus,
.nota:focus{
  outline:none;
  border-color:#c40000;
}

button{
  margin-top:15px;
  padding:6px 12px;
  border:none;
  background:#c40000;
  color:white;
  border-radius:6px;
  cursor:pointer;
  font-size:13px;
  transition:0.2s;
}

button:hover{
  background:#9e0000;
}

.final-box{
  width:100px;
  background:#f0f0f3;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  font-weight:bold;
  transition:0.2s;
}
