body{
  font-family: "Segoe UI", sans-serif;
  background:#f3f4f8;
  margin:0;
  padding:40px;
}

h1{
  text-align:center;
  margin-bottom:40px;
  font-weight:600;
}

.grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:30px;
  max-width:1200px;
  margin:auto;
}

.card{
  background:white;
  border-radius:12px;
  box-shadow:0 8px 25px rgba(0,0,0,0.08);
  overflow:hidden;
  display:flex;
}

.card-content{
  padding:15px;
  flex:1;
}

.ramo-titulo{
  font-weight:600;
  margin-bottom:10px;
}

table{
  width:100%;
  border-collapse:collapse;
  font-size:13px;
}

th{
  background:#c40000;
  color:white;
  padding:6px;
}

td{
  padding:6px;
  text-align:center;
  border-bottom:1px solid #eee;
}

input{
  width:50px;
  border:1px solid #ccc;
  border-radius:4px;
  text-align:center;
}

.final-box{
  width:80px;
  background:#f0f0f3;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
  font-weight:bold;
  color:#c40000;
}

button{
  margin-top:10px;
  padding:6px 10px;
  border:none;
  background:#c40000;
  color:white;
  border-radius:5px;
  cursor:pointer;
  font-size:12px;
}

button:hover{
  background:#9e0000;
}
